# instalando o palmerpenguins

In [ ]:
!pip install palmerpenguins

Collecting palmerpenguins
  Downloading palmerpenguins-0.1.4-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from palmerpenguins) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from palmerpenguins) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->palmerpenguins) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->palmerpenguins) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->palmerpenguins) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->palmerpenguins) (1.17.0)
Downloading palmerpenguins-0.1.4-py3-none-any.whl (17 kB)
Installing collected packages: palmerpenguins
Successfully installed palmerpenguins-0.1.4

# Exercicio 3 : bins fixos

In [2]:
import pandas as pd
from palmerpenguins import load_penguins
import numpy as np
import json

df = load_penguins()

decis = df['year'].quantile([.1, .2, .3, .4, .5, .6, .7, .8, .9])
print("\nDecis:")
print(decis)

binarizado = pd.cut(df['year'],bins=3)
df['bin_fixo_intervalo'] = binarizado

print("\nDataFrame com bin fixo intervalo:")
print(df)

Decis:
0.1    2007.0
0.2    2007.0
0.3    2007.0
0.4    2008.0
0.5    2008.0
0.6    2008.0
0.7    2009.0
0.8    2009.0
0.9    2009.0
Name: year, dtype: float64

DataFrame com bin fixo intervalo:
       species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen            39.1           18.7              181.0
1       Adelie  Torgersen            39.5           17.4              186.0
2       Adelie  Torgersen            40.3           18.0              195.0
3       Adelie  Torgersen             NaN            NaN                NaN
4       Adelie  Torgersen            36.7           19.3              193.0
..         ...        ...             ...            ...                ...
339  Chinstrap      Dream            55.8           19.8              207.0
340  Chinstrap      Dream            43.5           18.1              202.0
341  Chinstrap      Dream            49.6           18.2              193.0
342  Chinstrap      Dream            50.8           19.0              210.0
343  Chinstrap      Dream            50.2           18.7              198.0

     body_mass_g     sex  year    bin_fixo_intervalo
0         3750.0    male  2007  (2006.998, 2007.667]
1         3800.0  female  2007  (2006.998, 2007.667]
2         3250.0  female  2007  (2006.998, 2007.667]
3            NaN     NaN  2007  (2006.998, 2007.667]
4         3450.0  female  2007  (2006.998, 2007.667]
..           ...     ...   ...                   ...
339       4000.0    male  2009    (2008.333, 2009.0]
340       3400.0  female  2009    (2008.333, 2009.0]
341       3775.0    male  2009    (2008.333, 2009.0]
342       4100.0    male  2009    (2008.333, 2009.0]
343       3775.0  female  2009    (2008.333, 2009.0]

[344 rows x 9 columns]

# Exercicio 4 : bins variaveis

In [ ]:


df2 = load_penguins()
print(df2)
large_counts = df2['bill_length_mm']


pd.qcut(large_counts, 4, labels=False)
large_counts_series = pd.Series(large_counts)
large_counts_series.quantile([0.25, 0.5, 0.75])

       species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen            39.1           18.7              181.0
1       Adelie  Torgersen            39.5           17.4              186.0
2       Adelie  Torgersen            40.3           18.0              195.0
3       Adelie  Torgersen             NaN            NaN                NaN
4       Adelie  Torgersen            36.7           19.3              193.0
..         ...        ...             ...            ...                ...
339  Chinstrap      Dream            55.8           19.8              207.0
340  Chinstrap      Dream            43.5           18.1              202.0
341  Chinstrap      Dream            49.6           18.2              193.0
342  Chinstrap      Dream            50.8           19.0              210.0
343  Chinstrap      Dream            50.2           18.7              198.0

     body_mass_g     sex  year
0         3750.0    male  2007
1         3800.0  female  2007
2         3250.0  female  2007
3            NaN     NaN  2007
4         3450.0  female  2007
..           ...     ...   ...
339       4000.0    male  2009
340       3400.0  female  2009
341       3775.0    male  2009
342       4100.0    male  2009
343       3775.0  female  2009

[344 rows x 8 columns]

0.25    39.225
0.50    44.450
0.75    48.500
Name: bill_length_mm, dtype: float64

# Exercicio 5 : FunctionTransformer

ele permite

In [ ]:
import numpy as np
from sklearn.preprocessing import FunctionTransformer


features = np.array([[2, 3],
                     [4, 8],
                     [12, 23]])

def dobrar(x: int) -> int:
    return x *2

oDobro = FunctionTransformer(dobrar)

oDobro.transform(features)

array([[ 4,  6],
       [ 8, 16],
       [24, 46]])

# Exercicio 7 : min max

In [2]:
import numpy as np
from sklearn import preprocessing

features = np.array([[-500.5],
                    [-100.1],
                    [0],
                    [100.1],
                    [900.9]])

normalizador = preprocessing.MinMaxScaler(feature_range=(0, 1))
features_normalizadas = normalizador.fit_transform(features)
features_normalizadas

array([[0.        ],
       [0.28571429],
       [0.35714286],
       [0.42857143],
       [1.        ]])

# exercicio 8